## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [8]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,General Roca,AR,-39.0333,-67.5833,66.36,15,28,9.36,scattered clouds
1,1,Mataura,NZ,-46.1927,168.8643,46.13,95,98,0.90,overcast clouds
2,2,Albany,US,42.6001,-73.9662,41.88,85,100,0.92,moderate rain
3,3,Dharmavaram,IN,14.4333,77.7167,84.00,32,92,1.39,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.71,66,56,4.59,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 90

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,General Roca,AR,-39.0333,-67.5833,66.36,15,28,9.36,scattered clouds
3,3,Dharmavaram,IN,14.4333,77.7167,84.00,32,92,1.39,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.71,66,56,4.59,broken clouds
5,5,Hermanus,ZA,-34.4187,19.2345,61.81,87,1,3.84,clear sky
7,7,Arraial Do Cabo,BR,-22.9661,-42.0278,82.36,74,40,5.66,scattered clouds
8,8,Ribeira Grande,PT,38.5167,-28.7000,64.80,63,20,4.63,few clouds
9,9,Cape Town,ZA,-33.9258,18.4232,65.12,80,0,6.17,clear sky
11,11,Mogok,MM,22.9167,96.5000,60.42,94,56,1.62,broken clouds
14,14,Atuona,PF,-9.8000,-139.0333,79.95,72,83,9.45,broken clouds
16,16,Castro,BR,-24.7911,-50.0119,71.73,80,69,2.05,broken clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                326
City                   326
Country                324
Lat                    326
Lng                    326
Max Temp               326
Humidity               326
Cloudiness             326
Wind Speed             326
Current Description    326
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                324
City                   324
Country                324
Lat                    324
Lng                    324
Max Temp               324
Humidity               324
Cloudiness             324
Wind Speed             324
Current Description    324
dtype: int64

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,General Roca,AR,66.36,scattered clouds,-39.0333,-67.5833,
3,Dharmavaram,IN,84.00,overcast clouds,14.4333,77.7167,
4,Rikitea,PF,76.71,broken clouds,-23.1203,-134.9692,
5,Hermanus,ZA,61.81,clear sky,-34.4187,19.2345,
7,Arraial Do Cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,
8,Ribeira Grande,PT,64.80,few clouds,38.5167,-28.7000,
9,Cape Town,ZA,65.12,clear sky,-33.9258,18.4232,
11,Mogok,MM,60.42,broken clouds,22.9167,96.5000,
14,Atuona,PF,79.95,broken clouds,-9.8000,-139.0333,
16,Castro,BR,71.73,broken clouds,-24.7911,-50.0119,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,General Roca,AR,66.36,scattered clouds,-39.0333,-67.5833,Hotel El Recreo
3,Dharmavaram,IN,84.00,overcast clouds,14.4333,77.7167,BALAJI LODGE
4,Rikitea,PF,76.71,broken clouds,-23.1203,-134.9692,People ThankYou
5,Hermanus,ZA,61.81,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel
7,Arraial Do Cabo,BR,82.36,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
...,...,...,...,...,...,...,...
627,Rambha,IN,78.46,clear sky,19.5167,85.1000,OTDC Panthanivas - Rambha
629,Rio Claro,BR,77.40,broken clouds,-22.4114,-47.5614,Hotel Vivendas Rio Claro by Atlantica
630,Paita,PE,77.67,scattered clouds,-5.0892,-81.1144,Hotel Náutico de Paita
631,Jasper,US,72.90,scattered clouds,37.2001,-94.3502,Guest House Motel
633,Gouyave,GD,83.17,scattered clouds,12.1646,-61.7296,Rumboat Retreat

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [18]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [19]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))